extends layout

block content
    div(style={font: }) users
        if (users)
            for user in users
                div user
                    ul
                        li= user.name
                        li= user.age